body {
    background: #1e1f24;
    color: #333;
    text-align:center;
    font-family:arial;
    font-size:16px;
    margin:0;padding:0
} 

img {
    width: 30px;
    vertical-align: middle;
}

#cabecera
{
    background: rgb(24, 112, 127);
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 1em;
    color: rgb(220, 125, 36);
    
}

#container {
    width:70%;
    padding:1em;
    text-align:left;
    border:1px solid #ddd;
    margin:0 auto
} 

#container h1 {
    font-size:20px
}

.foofinal {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
}

.foo {
    color: white;
}